<%- include('partials/head') %>

<%- include('header') %>

<h1>Ajouter une annonce</h1>

<form>
  <table>
    <tr>
      <td><label for="titre">Titre :</label></td>
      <td><input type="text" id="titre"></td>
    </tr>
    <tr>
      <td><label for="description">Description :</label></td>
      <td><input type="text" id="description"></td>
    </tr>
    <tr>
      <td><label for="adresse">Adresse :</label></td>
      <td><input type="text" id="adresse"></td>
    </tr>
    <tr>
      <td><label for="code_postal">Code postal :</label></td>
      <td><input type="text" id="code_postal"></td>
    </tr>
    <tr>
      <td><label for="ville">Ville :</label></td>
      <td><input type="text" id="ville"></td>
    </tr>
    <tr>
      <td><label for="prix">Prix :</label></td>
      <td><input type="text" id="prix"></td>
    </tr>
  </table>

  <button type="submit" onclick="addAnnonce()">Créer</button>
</form>
